@import "../../common/colors.scss";

.header {
  width: 1440px;
  height: 140px;
  border: #ffffff;
  background-color: #292929;
}

.logo {
  position: absolute;
  width: 193px;
  height: 60px;
  left: 77px;
  top: 40px;
}

.iphone {
  width: 0px;
}

.user-image,
.user-image img {
  display: none;
  width: 38px;
  height: 38px;
}

.search-bar {
  display: none;
  width: 50%;
  display: flex;
  justify-content: center;

  form {
    display: none;
    display: flex;
    justify-content: center;
    width: 70%;

    button {
      display: none;
      padding: 0px 8px;
      font-size: 20px;
      cursor: pointer;
      height: 38px;
    }
  }
  input {
    display: none;
    font-size: 18px;
    width: 100%;
    height: 38px;
    padding: 5px 5px 5px 10px;
    outline: none;
  }
}

$breakpoint-tablet: 834px;
@media (max-width: $breakpoint-tablet) {
  .logo {
    margin-left: 250px;
  }
}

$breakpoint-tablet: 320px;
@media (max-width: $breakpoint-tablet) {
  .iphone {
    position: absolute;
    width: 108px;
    height: 33px;
    left: 100px;
    top: 16px;
  }

  .logo {
    display: none;
    position: absolute;
    width: 193px;
    height: 60px;
    left: 0px;
    top: 40px;
  }

  .header {
    width: 321px;
    height: 67px;
  }
}
